/* body {
  background-color: #121212;
} */
.header-class {
  max-width: 1376px;
  width: 90%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 24px 32px;
}
.nav-class {
  max-width: 328px;
  width: 100%;
}
.burger-bar {
  display: none;
}
.ul-list {
  display: flex;
  column-gap: 24px;
}
.logo {
  width: 101px;
  height: 27px;
  /* margin: 0px 0px 0px 32px; */
}
.logo:hover {
  background-color: chocolate;
}
.ul-list a {
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0.1px;
  font-family: "Inter 28pt";
}
.ul-list a:hover {
  color: chocolate;
}
.button-class {
  width: 100px;
  height: 48px;
  background-color: #000000;
  border-radius: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-class a {
  color: #f3f3f3;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1px;
  font-family: "Inter 28pt";
}
.button-class:hover {
  background-color: aqua;
}

/*first section*/
.container {
  max-width: 1110px;
  width: 90%;
  display: flex;
  margin: 0 auto;
  column-gap: 130px;
  padding: 64px 0px;
}
.left-block {
  width: 490px;
}
.right-block {
  width: 490px;
  background-color: aqua;
}
.picture {
  width: 100%;
  display: block;
  
}

.action-class {
  display: flex;
  align-items: center;
  column-gap: 20px;
}
.button {
  background-color: black;
  width: 100px;
  height: 48px;
  border-radius: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button a {
  color: #f3f3f3;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1px;
  font-family: "Inter 28pt";
}
h1 {
  color: black;
  font-size: 56px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: -1px;
  font-family: "Inter 28pt";
  margin-bottom: 24px;
}
.left-block h4 {
  color: black;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  font-family: "Inter 28pt";
  margin-bottom: 40px;
}
.left-block h6 {
  width: 236px;
  color: black;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0px;
  font-family: "Inter 28pt";
}

/*second section*/

.about-info {
  max-width: 1140px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  column-gap: 30px;
  padding: 64px 0px;
}

.circle-class {
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.circle {
  background-color: black;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.for-info {
  width: 360px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.circle-class h4 {
  color: #000000;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0px;
  font-family: "Inter 28pt";
}
.for-info h5 {
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0px;
  font-family: "Inter 28pt";
}

@media (max-width: 1024px) {
  .container {
    flex-direction: column;
    row-gap: 68px;
  }
  .right-block {
    width: 100%;
  }
  .left-block {
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .action-class h6 {
    width: 100%;
  }
  h1 {
    max-width: 630px;
    width: 100%;
  }
  .left-block h4 {
    max-width: 600px;
    width: 100%;
    margin: 24px 0px 20px 0px;
  }
  .ul-list {
    column-gap: 44px;
  }
}

@media (max-width: 744px) {
  h1 {
    max-width: 696px;
    width: 100%;
    font-size: 40px;
    line-height: 48.5px;
  }
  .action-class {
    flex-direction: column;
    row-gap: 16px;
  }

  .about-info {
    flex-direction: column;
    row-gap: 20px;
  }
  .for-info {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .ul-list {
    column-gap: 22px;
  }
}

@media (max-width: 375px) {
  .action-class {
    row-gap: 16px;
  }
  h1 {
    max-width: 327px;
  }
  .left-block h4 {
    max-width: 327px;
  }
  .button-class {
    display: none;
  }
  .nav-class {
    display: none;
  }
  .burger-bar {
    display: block;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    color: #fff;
    border-radius: 50%;
  }
}
