header {
  background-color: #fff;
}
.header-class {
  max-width: 1376px;
  width: 96%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 34.5px 0px;
  align-items: center;
}
.nav-class {
  width: 328px;
}
.burger-bar {
  display: none;
}
.ul-list {
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 101px;
  height: 27px;
  /* margin: 0px 0px 0px 32px; */
}
.logo:hover {
  background-color: chocolate;
}
.ul-list a {
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0.1px;
  font-family: "Inter 28pt";
}
.ul-list a:hover {
  color: chocolate;
}
.button-class {
  width: 100px;
  height: 48px;
  background-color: #000000;
  border-radius: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-class a {
  color: #f3f3f3;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1px;
  font-family: "Inter 28pt";
}
.button-class:hover {
  background-color: aqua;
}

/*first section*/
.top-section {
  background-color: #fff;
}
.container {
  max-width: 1110px;
  width: 90%;
  display: flex;
  margin: 0 auto;
  column-gap: 130px;
  padding: 64px 0px;
  align-items: center;
}
.left-block {
  width: 490px;
}
.right-block {
  width: 490px;
}
.picture {
  width: 100%;
  display: block;
}

.action-class {
  display: flex;
  align-items: center;
  column-gap: 20px;
}
.button {
  background-color: black;
  width: 100px;
  height: 48px;
  border-radius: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button:hover {
  background-color: aqua;
}
.button a {
  color: #f3f3f3;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1px;
  font-family: "Inter 28pt";
}
h1 {
  color: black;
  font-size: 56px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: -1px;
  font-family: "Inter 28pt";
  margin-bottom: 24px;
}
.left-block h4 {
  color: black;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  font-family: "Inter 28pt";
  margin-bottom: 40px;
}
.left-block h6 {
  width: 236px;
  color: black;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0px;
  font-family: "Inter 28pt";
}

/*second section*/
.second-section {
  background-color: #f3f3f3;
}
.about-info {
  max-width: 1140px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  column-gap: 30px;
  padding: 64px 0px;
}

.circle-class {
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.circle {
  background-color: black;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.for-info {
  width: 360px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.circle-class h4 {
  color: #000000;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0px;
  font-family: "Inter 28pt";
}
.for-info h5 {
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0px;
  font-family: "Inter 28pt";
}

/*მესამე სექცია*/
.dark-section {
  background-color: #000000;
}
.wraper {
  max-width: 1140px;
  width: 90%;
  height: auto;
  margin: 0 auto;
  display: flex;
  column-gap: 133px;
  align-items: center;
  padding: 96px 0px;
}
.left-wraper {
  width: 503.5px;
}
.right-wraper {
  width: 503.5px;
  color: #fff;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.left-image {
  width: 100%;
  display: block;
}
.different {
  font-size: 24px;
  font-weight: 900;
  line-height: 32px;
  letter-spacing: -0.1px;
  font-family: "Inter 28pt";
}
.right-wraper h4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.1px;
  font-family: "Inter 28pt";
}
.text-block {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

/*photo-block*/

.photo-section {
  background-image: url(../images/CTAImg-Wide-1440px+-New.jpg);
  width: 100%;
  height: 564px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
}
.block-on-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 180px;
  max-width: 540px;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}
.block-on-bg p {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.1px;
  font-family: "Inter 28pt";
}
.block-on-bg h2 {
  width: 540px;
  font-size: 40px;
  font-weight: 900;
  line-height: 48px;
  letter-spacing: -0.5px;
  font-family: "Inter 28pt";
}
.last-class {
  width: 84px;
  height: 40px;
  background-color: #fff;
  color: #000000;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1px;
  font-family: "Inter 28pt";
}
.last-class:hover {
  background-color: rgb(204, 136, 58);
}
.footer-color {
  background-color: #000000;
}
.footer-class {
  max-width: 1140px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  color: #fff;
  padding: 96px 0px;
}
.menu-block {
  width: 842.4px;
  display: flex;
}
.menu-divs-width {
  width: 210.6px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.brand-class {
  width: 87px;
}
.brand-class h2 {
  font-size: 24.65px;
  font-weight: 900;
  line-height: 26.41px;
  letter-spacing: -0.44px;
  font-family: "Inter 28pt";
}

.menu-block h5 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1px;
  font-family: "Inter 28pt";
  margin-bottom: 16px;
}
.menu-block h6{
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  font-family: "Inter 28pt";
}








@media (max-width: 1024px) {
  .container {
    flex-direction: column;
    row-gap: 68px;
  }
  .right-block {
    width: 100%;
  }
  .left-block {
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .action-class h6 {
    width: 100%;
  }
  h1 {
    max-width: 630px;
    width: 100%;
  }
  .left-block h4 {
    max-width: 600px;
    width: 100%;
    margin: 24px 0px 20px 0px;
  }
  .ul-list {
    column-gap: 44px;
  }
  .wraper {
    flex-direction: column;
    row-gap: 64px;
  }
  .left-wraper {
    width: 100%;
  }
  .right-wraper {
    width: 100%;
    display: flex;
    flex-direction: row;
    column-gap: 129px;
  }
  .block-on-bg {
    height: auto;
  }
  .footer-class {
    flex-direction: column;
    row-gap: 48px;
  }
  .menu-block {
    width: 100%;
  }
  .brand-class {
    width: 100%;
  }
  .fourth-part {
    display: none;
  }
}

@media (max-width: 744px) {
  .ul-list {
    column-gap: 22px;
  }

  h1 {
    max-width: 696px;
    width: 100%;
    font-size: 40px;
    line-height: 48.5px;
  }
  .action-class {
    flex-direction: column;
    row-gap: 16px;
  }

  .about-info {
    flex-direction: column;
    row-gap: 20px;
  }
  .for-info {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .ul-list {
    column-gap: 22px;
  }
  .right-wraper {
    flex-direction: column;
    text-align: center;
  }
  .wraper {
    row-gap: 29px;
  }
  .block-on-bg h2 {
    width: 100%;
  }
}

@media (max-width: 375px) {
  .action-class {
    row-gap: 16px;
  }
  h1 {
    max-width: 327px;
  }
  .left-block h4 {
    max-width: 327px;
  }
  .button-class {
    display: none;
  }
  .nav-class {
    display: none;
  }
  .burger-bar {
    display: block;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    color: #fff;
    border-radius: 50%;
  }
  .wraper {
    row-gap: 14px;
  }
  .different {
    font-size: 16px;
  }
  .right-wraper h4 {
    font-size: 14px;
    font-weight: 400;
  }
  .block-on-bg h2 {
    font-size: 28px;
  }
}
